<div [ngClass]="{'bgclr':true,'bdr':true}">
     Angular applies the styles both at initialization 
     and when there are changes Angular applies the styles
      both at initialization  and when there are changes
       Angular applies the styles both at initialization
</div>

<div [ngClass]="{'bgclr':false,'bdr':true}">
     Angular applies the styles both at initialization 
     and when there are changes Angular applies the styles
      both at initialization  and when there are changes
       Angular applies the styles both at initialization 
</div>

<div [ngClass]="{'bgclr':true,'bdr':false}">
     Angular applies the styles both at initialization 
     and when there are changes Angular applies the styles
      both at initialization  and when there are changes
       Angular applies the styles both at initialization 
</div>


<!-- <div *ngIf="true">
    <h1> sign up </h1>
</div>

<div *ngIf="abc">
    <h1> login </h1>
</div>
 <ul *ngFor="let employee of emp">
    <li>{{employee }}</li>
</ul>
<hr>

<input type="text" #fru >
<input type="submit" (click)="addFruit(fru.value)">
 <ul *ngFor="let f  of fruits">
    <li>{{f }}</li>
</ul>
<div *ngFor="let f of fruits">
  <p *ngIf="f == 'Apple'">
    {{ f }}
  </p>
</div>
<select [(ngModel)]="color">
  <option value="red">Red</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
</select>
<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'" style="color:red">RED color</p>
  <p *ngSwitchCase="'green'" style="color:green">GREEN color</p>
  <p *ngSwitchCase="'blue'" style="color:blue">BLUE color</p>
  <p *ngSwitchDefault>NO Color</p>
</div> -->